:root {
    
    --primary-color: var(#ffff);
    --main-color: rgb(113, 48, 138);
}

body {
    background-color: var(--primary-color);
    font-family: 'Merriweather', serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    background-image: url("../images/flower.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9999;
    margin-bottom: 400px;
}

/*Navegation list*/
.container {
    top: 375px;
    position: absolute;
    right: 0;
    margin: 20px;
    width: auto;
    font-weight: bold;
    font-size: larger;
}

.nav-list {
    display: inline-flex;
    overflow: hidden;
    background-color: none;
    list-style-type: none;
    
}

.nav-list li {
    padding-right: 10px;
    text-decoration: none;
}

.nav-list li a {
    text-decoration: none;
    padding: 15px;
}

a:hover {
    background-color: var(--main-color); 
    color: #ffff;
}
/*Projects*/
.with-200 {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    display: flex;
    justify-content: center;
}

.projects {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.pro {
    color: #ffff;
}

.pro img {
    max-height: 150px;
}

.enlarge:hover {
    height: 235px;
    width: 235px;
    border-style: solid; color: var(--primary-color);
}
 
/*Skills*/
.skill-title {
    display: flex;
    justify-content: center;
}

.colums-2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.title-section {
    position:absolute;
    left:0px; 
    margin: 20px;
    top: 50px
}

.paragraph-title {
    position: absolute;
    top:100px;
    font-style: italic;
    margin: 20px;
    
}

.image-container{
    display: flex;
    width: 100%;
    justify-content: start;
}

/*Communication section*/
.communication {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
}

.contact-title {
    color: #ffff;
}

.resume-title {
    color: #ffff;
}


footer {
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/flower.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9999;

}

.footer p {
    font-weight: bold;
    font-size: large;
}


/*Get to know me section*/

.bio-title {
    display: flex;
    justify-content: center;
}

.get {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
    flex-direction: column;
    
}

.get p {
    padding: 20px;
    line-height: 1.7;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

.pro {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

}

.ski {
    background-color: var(--backgound-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;

}

.ski img {
    max-height: 100px;
}



.resume img {
    max-height: 100px;
}

.contact img {
    max-height: 100px;
}

/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }

    .container {
        justify-content: center
    } 

    .paragraph-title {
        left: 19px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    







    }
    







